<section >
  <div class="px-2 py-8 md:px-8 mx-auto lg:pb-16 max-w-7xl lg:px-16   lg:pt-16">
    <div class="lg:text-center">
      <h1 class="text-2xl tracking-tight text-balance font-medium font-display text-black md:text-6xl">
        Spectrum Pathways (Together with Neurodiversity)
      </h1>
    </div>
  </div>
</section>
